<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iancuio.driftdirect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".championship.ChampionshipsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".championship.navigationView.authorityLogin.LoginActivity"
            android:label="@string/title_activity_navigation_view"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="367eefedcd01edce33d5f28f723c3ebc91563224" />

        <activity
            android:name=".championship.ChampionshipNavigationViewActivity"
            android:label="@string/title_activity_championships"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".round.RoundNavigationViewActivity"
            android:label="@string/title_activity_round_navigation_view"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".round.navigationView.top32_16.activities.judgeBattle.JudgeBattleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_judge_battle"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".round.navigationView.top32_16.activities.publicBattle.PublicBattleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_public_battle_activty"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
