<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iancuio.driftdirect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.iancuio.driftdirect.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.iancuio.driftdirect.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.iancuio.driftdirect" />
            </intent-filter>
        </receiver>
        <service
            android:name=".utils.gcm.logic.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.gcm.logic.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".utils.gcm.logic.RegistrationIntentService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name=".RegistrationIntentService" />
            </intent-filter>
        </service>

        <service
            android:name=".utils.gcm.logic.SubscribeQualificationsTopic"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name=".SubscribeQualificationsTopic" />
            </intent-filter>
        </service>

        <service
            android:name=".utils.gcm.logic.SubscribeBattlesTopic"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name=".SubscribeBattlesTopic" />
            </intent-filter>
        </service>








        <activity
            android:name=".championship.ChampionshipsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".championship.navigationView.authorityLogin.LoginActivity"
            android:label="@string/title_activity_navigation_view"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="367eefedcd01edce33d5f28f723c3ebc91563224" />

        <activity
            android:name=".championship.ChampionshipNavigationViewActivity"
            android:label="@string/title_activity_championships"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".round.RoundNavigationViewActivity"
            android:label="@string/title_activity_round_navigation_view"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".round.navigationView.top32_16.activities.judgeBattle.JudgeBattleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_judge_battle"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".round.navigationView.top32_16.activities.publicBattle.PublicBattleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_public_battle_activty"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
